flows/GDPR_Agreement_on_login-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_GDPR_terms_agreement_timestamp</name>
        <label>Set GDPR terms agreement timestamp</label>
        <locationX>184</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>currentUser.GDPR_Terms_Agreed_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUser.GDPR_Terms_Agreed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>termsCheckbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_user_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_user_need_to_agree_to_GDPR_terms</name>
        <label>Does user need to agree to GDPR terms?</label>
        <locationX>527</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Increment_user_login_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUser.GDPR_Terms_Agreed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDPR_Terms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>GDPR Agreement on login {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDPR Agreement on login</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>180</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_user_need_to_agree_to_GDPR_terms</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>currentUser</outputReference>
        <queriedFields>GDPR_Terms_Agreed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_current_user_record</name>
        <label>Update current user record</label>
        <locationX>183</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Increment_user_login_count</targetReference>
        </connector>
        <inputReference>currentUser</inputReference>
    </recordUpdates>
    <screens>
        <description>GDPR Terms acceptance checkbox</description>
        <name>GDPR_Terms</name>
        <label>GDPR Terms</label>
        <locationX>585</locationX>
        <locationY>420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_GDPR_terms_agreement_timestamp</targetReference>
        </connector>
        <fields>
            <name>terms</name>
            <fieldText>Please review our updated Terms of Use and Privacy and Information Security Policy. By accessing or contributing to the platform, you are agreeing with the Community Terms of Use and Privacy and Information Security Policy without modification by you (&quot;Platform Terms&quot;). If you do not agree, please do not access or use the platform.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>termsCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I agree</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You must accept the terms to continue.</errorMessage>
                <formulaExpression>{!termsCheckbox} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>User</startElementReference>
    <subflows>
        <name>Increment_user_login_count</name>
        <label>Increment user login count</label>
        <locationX>181</locationX>
        <locationY>206</locationY>
        <flowName>User_login</flowName>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UpdateUser</assignToReference>
            <name>CurrentUser</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>User chosen account record</description>
        <name>Accnt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UpdateUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
