flows/User_login-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>increment</name>
        <label>increment</label>
        <locationX>691</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>CurrentUser.Number_of_Logins__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_to_1</name>
        <label>set to 1</label>
        <locationX>700</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>CurrentUser.Number_of_Logins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_user</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_login_count_null</name>
        <label>is login count null?</label>
        <locationX>340</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>increment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUser.Number_of_Logins__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_to_1</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <interviewLabel>{!LoginFlow_UserId}</interviewLabel>
    <label>User login</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_current_user</name>
        <label>get current user</label>
        <locationX>144</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_login_count_null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CurrentUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Logins__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_user</name>
        <label>update user</label>
        <locationX>972</locationX>
        <locationY>120</locationY>
        <inputReference>CurrentUser</inputReference>
    </recordUpdates>
    <startElementReference>get_current_user</startElementReference>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
